/* bottom center */
#wowslider-container$GallerySuffix$  .ws_bullets {
    $TooltipPos$: 5px;
    right: 10px;
}
#wowslider-container$GallerySuffix$ .ws_bullets .ws_bulframe {
	top: 20px;
}
#wowslider-container$GallerySuffix$ .ws_bullets .ws_bulframe {
	top: 20px;
}
