#wowslider-container$GallerySuffix$ .ws_frame{
	display:block;
	position: absolute;
	left:0;
	top:0;
	bottom:0;
	right:0;
	border:solid 8px black;
	z-index:9;
	opacity:0.3;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=30);
}
* html #wowslider-container$GallerySuffix$ .ws_frame{
	width:$FrameW$px;
	height:$FrameH$px;
}
#wowslider-container$GallerySuffix$  .ws_bullets { 
	padding: 10px; 
}
#wowslider-container$GallerySuffix$ .ws_bullets a { 
	margin: 0;
	width:16px;
	height:15px;
	background: url(./bullet.png) left top;
	float: left; 
	text-indent: -4000px; 
	position:relative;
	color:transparent;
}
#wowslider-container$GallerySuffix$ .ws_bullets a:hover{ 
	background-position: -16px 0;
}
#wowslider-container$GallerySuffix$ .ws_bullets a.ws_selbull{
	background-position: right top;
}
#wowslider-container$GallerySuffix$ .ws_bullets a.ws_overbull{
	background-position: 50% top;
}
#wowslider-container$GallerySuffix$ .ws_bullets a:hover{
	background-position: 50% top;
}
#wowslider-container$GallerySuffix$ a.ws_next, #wowslider-container$GallerySuffix$ a.ws_prev {
	position:absolute;
	display:block;
	top:50%;
	margin-top:-28px;
	z-index:60;
	height: 56px;
	width: 29px;
	background-image: url(./arrows.png);
}
#wowslider-container$GallerySuffix$ a.ws_next{
	background-position: 100% 0; 
	right:-29px;
}
#wowslider-container$GallerySuffix$ a.ws_prev {
	left:-29px;
	background-position: 0 0; 
}
#wowslider-container$GallerySuffix$ .ws-title{
	position: absolute;
	bottom:18px;
	left: 18px;
	margin-right:23px;
	z-index: 50;
	padding:5px;
	color: #FFF;
	background:#000;
    font-family: Tahoma,Arial,Helvetica;
	font-size: 14px;
	opacity:0.6;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);	
}
#wowslider-container$GallerySuffix$ .ws-title div{
	padding-top:5px;
	font-size: 12px;
}

