
#wowslider-container$GallerySuffix$ .ws_bullets { 
	padding: 10px; 
}
#wowslider-container$GallerySuffix$ .ws_bullets a { 
	margin-left: 5px; 
	height: 10px; 
	width: 10px; 
	float: left; 
	border: 1px solid #B8C4CF; 
	color: transparent; 
	text-indent: 0px; 
	background-image:url("data:image/gif;base64,");
	position:relative;
}
#wowslider-container$GallerySuffix$ .ws_selbull { 
	background-color: #B8C4CF; 
	color: #FFFFFF; 
}

#wowslider-container$GallerySuffix$ .ws_bullets a:hover, #wowslider-container$GallerySuffix$ .ws_overbull { 
	background-color: #dae9f6;
	color: #FFFFFF; 
}

#wowslider-container$GallerySuffix$ a.ws_next, #wowslider-container$GallerySuffix$ a.ws_prev {
	font-family: Tahoma,Arial,Helvetica;
	font-size: 14px;
	position:absolute;
	display:none;
	top:50%;
	margin-top:-15px;
	line-height:30px;
	z-index:60;
	background-color: #000000; 
	color: #FFFFFF; 
	padding: 0px 10px; 
	opacity:0.7;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}
#wowslider-container$GallerySuffix$ a.ws_next{
	right:0;
}
#wowslider-container$GallerySuffix$ a.ws_prev {
	left:0;
}
* html #wowslider-container$GallerySuffix$ a.ws_next,* html #wowslider-container$GallerySuffix$ a.ws_prev{display:block}
#wowslider-container$GallerySuffix$:hover a.ws_next, #wowslider-container$GallerySuffix$:hover a.ws_prev {display:block}



#wowslider-container$GallerySuffix$ .ws-title{
	position: absolute;
	bottom:0;
	left: 0;
	margin-right:5px;
	z-index: 50;
	background-color:#000000;
	color:#FFFFFF;
	padding:10px 1%;
	width:98%;
	font-family: Tahoma,Arial,Helvetica;
	font-size: 14px;
	opacity:0.55;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=55);	
}
#wowslider-container$GallerySuffix$ .ws-title div{
	padding-top:5px;
	font-size: 12px;
}
