#wowslider-container$GallerySuffix$ {
	margin:25px auto;
}

#wowslider-container$GallerySuffix$  .ws_shadow{
	position:absolute;
	z-index: -1;
	left:-$frameL$%;
	top:-$frameT$%;
	width:$frameW$%;
	height:$frameH$%;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader( src='$ImgPath$/bg.png', sizingMethod='scale');		/*IE<8*/
}
*|html #wowslider-container1 .ws_shadow{
	background-image: url(./bg.png);
	background-repeat: no-repeat;
	background-size:100%;
	filter:"";
}